#streaming {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

#streaming h2 {
    margin-top: 60px;
    color: #005780;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


#streaming p {
    margin-top: 20px;
    color: #70706E;
}

#streaming img {
}