#streaming {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

#streaming h2 {
    margin-left: 160px;
    margin-top: 60px;
    color: #005780;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    right: 165px;
    font-size: 40px;

}

#streaming p {
    margin-top: 20px;
    color: #70706E;
}

#streaming img {
    width: 100%;
}

#chromakey{
    background-color:#e5f4ff ;
    padding-top: 50px;
    padding-bottom: 50px;
}

#chromakey h2{
    color: #005780;
    margin-top: 20px;
    Weight: 400px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 70px;
}

#chromakey p{
    margin-right: 100px;
    color: #70706E;
    font-style: normal ;
    Weight: 400;
    size: 14px;
    line-height: 24px;
}

#rnv {
    background-color: #0DAEDB;
    padding-top: 60px;
    padding-bottom: 60px; 
}

#rnv h2{
    text-align:center;
    color:white;
    margin-top: 20px;
    margin-bottom: 49px;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

#RNV img {
    width: 100%;
    margin-bottom: 100px;
}

#RNV p {
    font-size: 17px;
    color: #FFFFFF;
}

#cuadros {
    background-color: #FFFFFF;
}

#cuadros h2 {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    color:#005780
}

#cuadros img {
    background-color: #005780;
    padding: 50px;
}

.boton{
    background-color: #E99F09;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
